#floating-menu {
    cursor: pointer;
  }

  #floating-icon{
    overflow: hidden;
    position: fixed;
    z-index: 99999;
    bottom: 50%;
    left: 15px;
    background-color: #93b662;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    opacity: 0.2;
  }
  #floating-icon:hover{
    opacity: 0.9;
  }

  #floating-icon span{
    display: block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 50px;

  }

  #floating-ligar,
  #floating-whatsapp,
  #floating-home,
  #floating-emergencia{
    display: none;
    overflow: hidden;
    position: fixed;
    z-index: 99998;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    color: #fff;
    font-size: 20px;
  }

  #floating-ligar{
    left:80px;
    bottom:50%;
    background-color: #182c3c;
    -webkit-animation: slide-ligar .75s forwards;
    -webkit-animation-delay: .75s;
    animation: slide-ligar .75s forwards;
    animation-delay: .75s;
  }

  #floating-icon,
  #floating-ligar,
  #floating-home,
  #floating-whatsapp,
  #floating-emergencia{
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
  }

  @-webkit-keyframes slide-ligar {
    0%{
      right: 20px;
      bottom: 50%;

    }
    100% {
      right: 20px;
      bottom: 60%;

    }
  }

  @keyframes slide-ligar {
    0%{
      right: 20%;
      bottom: 50%;
    }
    100% {
        right: 10%;
        bottom:61%;
    }
  }

  #floating-whatsapp{
    left: 80px;
    bottom: 50%;
    background-color: #182c3c;
    -webkit-animation: slide-whatsapp .75s forwards;
    -webkit-animation-delay: .75s;
    animation: slide-whatsapp .75s forwards;
    animation-delay: .75s;
  }

  @-webkit-keyframes slide-whatsapp {
    0%{
        right: 20%;
        bottom: 50%;
      }
      100% {
      right: 50%;
      bottom: 60%;
      }
  }

  @keyframes slide-whatsapp {
    0%{
        right: 15%;
        bottom: 50%;
      }
      100% {
        right: 10%;
       bottom:55%;
      }
  }

  #floating-emergencia {
    left: 80px;
    bottom: 50%;
    background-color: #182c3c;
    -webkit-animation: slide-emergencia .75s forwards;
    -webkit-animation-delay: .300s;
    animation: slide-emergencia .75s forwards;
    animation-delay: .75s;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @-webkit-keyframes slide-emergencia {
    0%{
        right: 20%;
        bottom: 50%;
      }
      100% {
      right: 50%;
      bottom: 60%;
      }
  }

  @keyframes slide-emergencia {
    0%{
        right: 20%;
        bottom: 50%;
      }
      100% {
      right: 10%;
       bottom:49%;
      }
  }



  #floating-home {
    left: 80px;
    bottom: 50%;
    background-color: #182c3c;
    -webkit-animation: slide-home .75s forwards;
    -webkit-animation-delay: .300s;
    animation: slide-home .75s forwards;
    animation-delay: .75s;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @-webkit-keyframes slide-home {
    0%{
        right: 20%;
        bottom: 50%;
      }
      100% {
      right: 10%;
      bottom: 60%;
      }
  }

  @keyframes slide-home {
    0%{
        right: 20%;
        bottom: 50%;
      }
      100% {
      right: 10%;
      bottom:43%;
      }
  }

  #floating-menu svg{
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }

  #floating-menu a{
    color: #fff;
  }
